body {

  div:first-child {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    .left-screen {
      flex: 1;
      background-image: url(../RESSOURCES/Cabane1.jpg);
      background-size: cover;
      background-position-x: -65px;
      width: 50%;
      //height: 100%;
      .demi-screen {
        //width: 50vw;
        //height: 50vh;
        //background-color: black;
      }
    }

    .right-screen {
      flex: 2;
      background-color: black;
      width: 50%;

      .profil {
        background-image: url(../RESSOURCES/cielnuit.jpe);
        border: none
      }
      section {
        border: 1px solid white;
        height: 25vh;
      }
    }
  }
}
